<footer id="footer" class="relative mt-auto bg-[#3c3c3b] lg:rounded-t-[65px]">
    <a href="#" class="center-x btn bg-grad flex translate-y-[-100%] items-center gap-2 rounded-b-none px-2 xl:px-10">
        <svg class="icon-list h-[31px] w-[27px]">
            <use href="#icon-list"></use>
        </svg>
        <span class="whitespace-nowrap font-medium">Сведения о медицинской организации</span>
    </a>
    <div
        class="container flex flex-wrap items-center justify-center gap-4 py-4 text-white lg:justify-between lg:gap-0 lg:py-12"
    >
        <img src="img/logo-white.png" width="222" loading="lazy" alt="" height="80" />
        <div class="xl:text-[30px]">Здоровая нация - сильная Россия!</div>
        <div class="flex w-full items-center lg:w-auto lg:gap-[75px]">
            <dl class="basis-1/2 space-y-1 lg:basis-auto">
                <dt class="text-center text-lg font-bold lg:text-left">Мед.центр</dt>
                <dd class="flex items-center justify-center gap-2 lg:justify-start">
                    <svg class="icon-phone hidden size-[20px] text-[#2daae1] lg:block">
                        <use href="#icon-phone"></use>
                    </svg>
                    <a href="tel:+79000000000">+7 (918) 000-00-00</a>
                </dd>
                <dd class="flex items-center justify-center gap-2 lg:justify-start">
                    <svg class="icon-time size-[20px] text-[#2daae1]">
                        <use href="#icon-time"></use>
                    </svg>
                    <span>09:00 - 18:00</span>
                </dd>
            </dl>
            <dl class="basis-1/2 space-y-1 lg:basis-auto">
                <dt class="text-center text-lg font-bold lg:text-left">Аптека</dt>
                <dd class="flex items-center justify-center gap-2 lg:justify-start">
                    <svg class="icon-phone hidden size-[20px] text-[#2daae1] lg:block">
                        <use href="#icon-phone"></use>
                    </svg>
                    <a href="tel:+79000000000">+7 (918) 000-00-00</a>
                </dd>
                <dd class="flex items-center justify-center gap-2 lg:justify-start">
                    <svg class="icon-time size-[20px] text-[#2daae1]">
                        <use href="#icon-time"></use>
                    </svg>
                    <span>09:00 - 18:00</span>
                </dd>
            </dl>
        </div>
    </div>
</footer>
<script type="module" src="./js/common.js" defer></script>
