<footer id="footer" class="relative mt-auto rounded-t-[65px] bg-[#3c3c3b]">
    <a
        href="#"
        class="center-x flex translate-y-[-100%] items-center gap-3 rounded-t-[33px] bg-gradient-to-r from-[#1dcaa5] to-[#0e71b8] px-10 py-4 text-white"
    >
        <svg class="icon-list h-[31px] w-[27px]">
            <use href="#icon-list"></use>
        </svg>
        <span class="text-xl font-medium">Сведения о медицинской организации</span>
    </a>
    <div class="container flex items-center justify-between text-white xl:py-12">
        <img src="img/logo-white.png" width="222" loading="lazy" alt="" height="80" />
        <div class="text-[30px]">Здоровая нация - сильная Россия!</div>
        <div class="flex items-center gap-[75px]">
            <dl class="space-y-1">
                <dt class="text-lg font-bold">Мед.центр</dt>
                <dd class="flex items-center gap-2">
                    <svg class="icon-phone size-[20px] text-[#2daae1]">
                        <use href="#icon-phone"></use>
                    </svg>
                    <a href="tel:+79000000000">+7 (918) 000-00-00</a>
                </dd>
                <dd class="flex items-center gap-2">
                    <svg class="icon-time size-[20px] text-[#2daae1]">
                        <use href="#icon-time"></use>
                    </svg>
                    <span>09:00 - 18:00</span>
                </dd>
            </dl>
            <dl class="space-y-1">
                <dt class="text-lg font-bold">Аптека</dt>
                <dd class="flex items-center gap-2">
                    <svg class="icon-phone size-[20px] text-[#2daae1]">
                        <use href="#icon-phone"></use>
                    </svg>
                    <a href="tel:+79000000000">+7 (918) 000-00-00</a>
                </dd>
                <dd class="flex items-center gap-2">
                    <svg class="icon-time size-[20px] text-[#2daae1]">
                        <use href="#icon-time"></use>
                    </svg>
                    <span>09:00 - 18:00</span>
                </dd>
            </dl>
        </div>
    </div>
</footer>
<script type="module" src="./js/common.js" defer></script>
