<header id="header">
    <div class="container flex items-center justify-between xl:py-8">
        <img src="img/logo.svg" width="233px" loading="lazy" alt="" />
        <button class="relative h-[71px] w-[430px] rounded-[35px] bg-[#f4f4f4] ps-12 text-[22px] font-bold">
            Версия для слабовидящих
            <span class="absolute left-[-3px] top-[-3px] size-[77px] rounded-full bg-[#2daae1] text-white">
                <svg class="icon-eyeglasses center-xy h-5 w-[55px]">
                    <use href="#icon-eyeglasses"></use>
                </svg>
            </span>
        </button>
        <div class="flex items-center gap-[75px]">
            <dl class="space-y-1">
                <dt class="text-lg font-bold">Мед.центр</dt>
                <dd class="flex items-center gap-2">
                    <svg class="icon-phone size-[20px] text-primary">
                        <use href="#icon-phone"></use>
                    </svg>
                    <a href="tel:+79000000000">+7 (918) 000-00-00</a>
                </dd>
                <dd class="flex items-center gap-2">
                    <svg class="icon-time size-[20px] text-primary">
                        <use href="#icon-time"></use>
                    </svg>
                    <span>09:00 - 18:00</span>
                </dd>
            </dl>
            <dl class="space-y-1">
                <dt class="text-lg font-bold">Аптека</dt>
                <dd class="flex items-center gap-2">
                    <svg class="icon-phone size-[20px] text-primary">
                        <use href="#icon-phone"></use>
                    </svg>
                    <a href="tel:+79000000000">+7 (918) 000-00-00</a>
                </dd>
                <dd class="flex items-center gap-2">
                    <svg class="icon-time size-[20px] text-primary">
                        <use href="#icon-time"></use>
                    </svg>
                    <span>09:00 - 18:00</span>
                </dd>
            </dl>
        </div>
    </div>
</header>
