<div class="mb-8 flex flex-wrap gap-8 xl:flex-nowrap">
    <div
        class="order-1 flex-1 flex-shrink-0 rounded-[28px] bg-[#1d90c9] p-7 text-white xl:order-none xl:w-[278px] xl:flex-none"
    >
        <div class="text-center text-2xl font-bold uppercase xl:mb-6">Медицинский центр</div>
        <button type="button" class="btn-menu">
            <i class="icon-burger"></i>
        </button>
        <ul class="menu">
            <li class="active"><a href="#">О нас</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Специалисты</a></li>
            <li><a href="#">Анализы</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Стоматология</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Отзывы</a></li>
        </ul>
    </div>
    <div class="cta text-white">
        <div class="flex-auto">
            <div class="mb-4 text-xl font-bold uppercase xl:mb-6 xl:text-3xl">
                Заказывайте на сайте и забирайте в аптеке
            </div>
            <p class="mb-4 xl:mb-10">
                12 тысяч товаров для домашней аптечки, самовывоз из аптек вашего города, єкономьте с бонусами, игры и
                розыгрыши призов
            </p>
            <a href="#" class="flex max-w-max items-center gap-5 rounded-[36px] bg-[#0e71b8] px-12 py-4">
                <svg class="icon-discount size-9">
                    <use href="#icon-discount"></use>
                </svg>
                <span class="">Акции и скидки</span>
            </a>
        </div>
        <div class="-mr-7 w-[330px] flex-shrink-0">
            <div class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="relative pr-7">
                                <div class="mb-7 text-right text-lg">Bayer Супрадин Кидс мишки пастилки 60 шт</div>
                                <figure>
                                    <img src="img/slider-img.png" alt="" width="349" height="328" loading="lazy" />
                                    <figcaption
                                        class="text-x absolute bottom-8 right-0 rounded-l-[28px] bg-[#1ae789] px-7 py-5 font-bold text-black"
                                    >
                                        512,00 ₽ за 60 шт
                                    </figcaption>
                                </figure>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="relative pr-7">
                                <div class="mb-7 text-right text-lg">Bayer Супрадин Кидс мишки пастилки 60 шт</div>
                                <figure>
                                    <img src="img/slider-img.png" alt="" width="349" height="328" loading="lazy" />
                                    <figcaption
                                        class="text-x absolute bottom-8 right-0 rounded-l-[28px] bg-[#1ae789] px-7 py-5 font-bold text-black"
                                    >
                                        512,00 ₽ за 60 шт
                                    </figcaption>
                                </figure>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="relative pr-7">
                                <div class="mb-7 text-right text-lg">Bayer Супрадин Кидс мишки пастилки 60 шт</div>
                                <figure>
                                    <img src="img/slider-img.png" alt="" width="349" height="328" loading="lazy" />
                                    <figcaption
                                        class="text-x absolute bottom-8 right-0 rounded-l-[28px] bg-[#1ae789] px-7 py-5 font-bold text-black"
                                    >
                                        512,00 ₽ за 60 шт
                                    </figcaption>
                                </figure>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div
        class="order-2 w-[278px] flex-1 flex-shrink-0 rounded-[28px] bg-primary p-7 text-white xl:order-none xl:w-[278px] xl:flex-none"
    >
        <div class="text-center text-2xl font-bold uppercase xl:mb-6">Аптека</div>
        <button type="button" class="btn-menu">
            <i class="icon-burger"></i>
        </button>
        <ul class="menu">
            <li><a href="#">Информация</a></li>
            <li><a href="#">Специалисты</a></li>
            <li><a href="#">Анализы</a></li>
            <li><a href="#">Документы</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Отзывы</a></li>
        </ul>
    </div>
</div>
