@import 'fonts.css';
@import 'bvi.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    body {
        font-family: 'Mulish', system-ui;
        font-weight: 400;
        font-style: normal;
    }
}

@layer components {
    .btn {
        @apply inline-flex rounded-[32px] px-8 py-5 text-sm font-medium uppercase text-white lg:px-14 lg:text-xl;

        &.bg-grad:hover {
            @apply bg-gradient-to-l from-[#1dcaa5] to-[#0e71b8];
        }

        &[disabled] {
            @apply pointer-events-none opacity-50;
        }
    }

    .center-y {
        @apply absolute top-1/2 -translate-y-1/2;
    }

    .center-x {
        @apply absolute left-1/2 -translate-x-1/2;
    }

    .center-xy {
        @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
    }

    .bg-grad {
        @apply bg-gradient-to-r from-[#1dcaa5] to-[#0e71b8];
    }

    .menu {
        @apply invisible max-h-0 opacity-0 transition-all duration-300 lg:visible lg:max-h-none lg:opacity-100 lg:transition-none;

        li {
            @apply relative;

            a {
                @apply relative block py-2 pl-6;

                &:before,
                &:after {
                    content: '';
                    @apply absolute bottom-0 top-0 hidden w-[10px] bg-[#1ae789];
                }

                &:before {
                    @apply left-[-28px] rounded-r;
                }

                &:after {
                    @apply right-[-28px] rounded-l;
                }
            }

            &:before {
                @apply absolute left-0 top-[15px] size-[10px] rounded-full bg-[#84d9ff];
                content: '';
            }

            &:hover,
            &.active {
                a {
                    &:before,
                    &:after {
                        @apply block;
                    }
                }

                &:before {
                    @apply bg-[#1ae789];
                }
            }
        }

        &.open {
            @apply visible mt-6 max-h-[1000px] opacity-100;
        }
    }

    .form-input {
        @apply rounded-[32px] border-none px-9 py-5 text-lg;
    }

    .cta {
        @apply flex flex-wrap items-center gap-7 overflow-hidden rounded-[28px] p-7 lg:flex-nowrap;
        background: url('../img/bg-slider.png') no-repeat center;
        background-size: cover;
    }

    .btn-menu {
        @apply mt-4 flex w-full items-center justify-center lg:hidden;

        .icon-burger {
            display: block;
            width: 24px;
            height: 2px;
            background: #fff;
            position: relative;
            transition: 0.3s all;

            &:before,
            &:after {
                content: '';
                position: absolute;
                left: 0;
                width: 24px;
                height: 2px;
                background: #fff;
                transition: 0.3s all;
            }

            &:before {
                transform: translateY(-8px);
            }

            &:after {
                transform: translateY(8px);
            }
        }

        &.active {
            .icon-burger {
                background: transparent;

                &:before {
                    transform: rotate(45deg);
                }

                &:after {
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .doc-link {
        @apply flex flex-col items-center justify-center gap-2 rounded-[22px] bg-white p-12 text-center transition-all duration-300;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.05));

        &:hover {
            @apply translate-y-[-10px];
        }
    }
}

.splide__pagination {
    @apply !mt-2 gap-2;

    li {
        vertical-align: top;

        button {
            @apply size-[15px] rounded-full bg-[#72b7df] transition-all duration-300;
            vertical-align: top;

            &.is-active {
                @apply w-10 bg-secondary;
            }
        }
    }
}

.pagination {
    @apply flex items-center justify-center gap-4;

    a,
    span {
        @apply text-base xl:text-[30px];

        svg {
            @apply h-10 w-6 text-[#2daae1] lg:h-[88px] lg:w-[50px];
        }

        &:hover {
            @apply text-[#2daae1];

            svg {
                @apply text-primary;
            }
        }
    }

    span {
        @apply size-10 rounded-full bg-[#2daae1] text-center leading-10 text-white lg:size-20 xl:leading-[80px];

        &:hover {
            @apply text-white;
        }
    }

    .prev {
        margin-right: 1.5rem;
    }

    .next {
        margin-left: 1.5rem;
    }
}

.prose {
    h1,
    h2,
    h3 {
        font-size: 36px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 0;
    }

    h2,
    h3 {
        font-size: 24px;
    }

    a.btn {
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            @apply relative pl-7;

            &:before {
                content: '';
                @apply absolute left-0 top-[8px] size-[15px] rounded-full bg-[#2daae1];
            }
        }
    }

    p,
    ul,
    ol {
        font-size: 20px;
    }

    ol {
        list-style: none;
        padding: 0;
        counter-set: list;

        li {
            @apply relative block pl-12;

            &:before {
                counter-increment: list;
                content: counter(list);
                position: absolute;
                left: 0;
                top: -5px;
                background: #2daae1;
                width: 41px;
                height: 41px;
                color: #fff;
                text-align: center;
                font-size: 0.875rem;
                line-height: 41px;
                border-radius: 50%;
            }

            & + li {
                margin-top: 1.5rem;
            }
        }
    }

    img {
        margin: 0;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        min-width: 1000px;
        margin-top: 0;

        thead {
            th {
                font-weight: 500;
                padding: 0.5rem 1rem;
                background-color: #0e71b8;
                color: #fff;
                white-space: nowrap;

                @media screen(md) {
                    padding: 1.25rem 2rem;
                }

                &:first-child {
                    border-radius: 22px 0 0 22px;
                }

                &:last-child {
                    border-radius: 0 22px 22px 0;
                }

                &.bg-green {
                    background-color: #1dc6a7;
                    color: #fff;
                }
            }

            &.v-2 {
                tr:first-child {
                    th {
                        &:first-child {
                            border-radius: 22px 0 0 0;
                        }

                        &:last-child {
                            border-radius: 0 22px 0 0;
                        }
                    }
                }

                tr:last-child {
                    th {
                        &:first-child {
                            border-radius: 0 0 22px 22px;
                        }
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    font-weight: 500;
                    padding: 0.5rem 1rem;

                    @media screen(md) {
                        padding: 1.25rem 2rem;
                    }
                }

                &:nth-child(even) {
                    td {
                        background-color: #e0f0fc;

                        &:first-child {
                            border-radius: 22px 0 0 22px;
                        }

                        &:last-child {
                            border-radius: 0 22px 22px 0;
                        }
                    }
                }

                .bg-gray {
                    background: #e0f0fc;
                    border-radius: 22px;
                }
            }
        }
    }
}
