@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    body {
        font-family: 'Mulish', system-ui;
        font-weight: 400;
        font-style: normal;
    }
}

@layer components {
    .center-y {
        @apply absolute top-1/2 -translate-y-1/2;
    }

    .center-x {
        @apply absolute left-1/2 -translate-x-1/2;
    }

    .center-xy {
        @apply absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2;
    }

    .menu {
        li {
            @apply relative;

            a {
                @apply py-2 block relative pl-6;

                &:before, &:after {
                    content: '';
                    @apply absolute top-0 bottom-0 bg-[#1ae789] w-[10px] hidden;
                }

                &:before {
                    @apply left-[-28px] rounded-r;
                }

                &:after {
                    @apply right-[-28px] rounded-l;
                }
            }

            &:before {
                @apply absolute left-0 top-[15px] size-[10px] bg-[#84d9ff] rounded-full;
                content: '';
            }

            &:hover, &.active {
                a {
                    &:before, &:after {
                        @apply block;
                    }
                }

                &:before {
                    @apply bg-[#1ae789];
                }
            }
        }
    }

    .cta {
        @apply rounded-[28px] p-7 overflow-hidden flex items-center gap-7;
        background: url("../img/bg-slider.png") no-repeat center bottom;
        background-size: cover;
    }
}

.prose {
    h1,
    h2,
    h3 {
        font-size: 36px;
        font-weight: bold;
    }

    h2,
    h3 {
        font-size: 24px;
    }

    a.btn {
        text-decoration: none;
    }

    ul {
        list-style: square;

        li::marker {
            color: theme('colors.primary');
        }
    }

    p, ul, ol {
        font-size: 20px;
        margin-top: 0;
    }

    ol {
        list-style: none;
        padding: 0;
        counter-set: list;

        li {
            @apply relative pl-12;

            &:before {
                counter-increment: list;
                content: counter(list);
                position: absolute;
                left: 0;
                top: 0;
                background: theme('colors.primary');
                width: 30px;
                height: 30px;
                color: #fff;
                text-align: center;
                font-size: 0.875rem;
                line-height: 32px;
                border-radius: 50%;
            }
        }
    }

    img {
        margin: 0;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 8px;

        thead {
            th {
                text-align: left;
                font-weight: 500;
                padding: 1.25rem 2rem;
                background-color: #d3ddf2;
            }
        }

        tbody {
            tr {
                td {
                    font-weight: 500;
                    padding: 1.25rem 2rem;
                    background-color: #f5f8ff;
                }
            }
        }
    }
}